body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 150px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

.container{
    text-align: center;
    width:100%;
    align-items: center;
}

.ebutton{
    color:white;
    font-size:70px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    width:50%;
    font-family: "Pixelify Sans", sans-serif;
}

.mbutton{
    color:white;
    font-size:70px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    width:50%;
    font-family: "Pixelify Sans", sans-serif;
}

.eTitle{
    color:rgb(43, 244, 43);
    font-size:120px;
}

.P1{
    font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.P2{
    font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.P3{
   font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.P4{
   font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.P5{
    font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.helper{
    margin-top:5px;
}
.duke{
    margin-right:15px;
    margin-top:10px;
    border-style:solid;
    border-color:rgb(150, 7, 102);
    border-width:5px;

}
.contessa{
   margin-top:10px;
   border-style:solid;
    border-color:rgb(146, 6, 6);
    border-width:5px;
}

.container{
    display:flex;
    justify-content: center;

}

.question{
    color:white;
    font-size:30px;
}

.instructions{
    color:white;
    font-size:50px;
}

.guess{
    color:white;
    font-size:50px;
}

.wTitle{
    color:rgb(61, 138, 201);
    font-size:100px;
}

.lTitle{
    color:red;
    font-size:100px;
}

.mTitle{
    color:orange;
    font-size:150px
}
.assassin{
     margin-right:15px;
    margin-top:10px;
    border-style:solid;
    border-color:white;
    border-width:5px;
}

.M1{
    font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.M2{
    font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.M3{
   font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.M4{
   font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.M5{
    font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
}

.M6{
    font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
    margin-top:5px;
}

.M7{
    font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
    margin-top:5px;
}

.nPage{
    font-family: "Pixelify Sans", sans-serif;
    font-size:35px;
    background-color:gray;
    border-style:solid;
    border-color:white;
    border-width:5px;
    color:white;
    margin-top:5px;
}

.choose{
    color:red;
    font-size:75px;
    display:none;
}

.everything {
 font-family: "Pixelify Sans", sans-serif;
 font-optical-sizing: auto;
 font-weight: lighter;
}

.ePage{
    display:none;
}

.mPage{
    display:none;
}
.lose{
    display:none;
}

.win{
    display:none;
}